<div class="main-content-container container-fluid px-4">
  <!-- Page Header -->
  <div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
      <span class="text-uppercase page-subtitle">Management</span>
      <h3 class="page-title">Assign Employee</h3>
    </div>
  </div>
  <!-- End Page Header -->
  <div class="row">
    <div class="col-lg-12">

      <div class="card card-small mb-4">
        <div class="card-header border-bottom">
          <h6 class="m-0">{{app.action}} New Employee To Project</h6>
        </div>
        <div class="card-body">
          <form role="form" [formGroup]="rForm" (ngSubmit)="onSubmit(rForm.value)">
            <fieldset>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <select class="form-control" formControlName="deptId" (change)="onChange($event.target.value)">

                      <option *ngFor="let item of dept.deptList" value="{{item.id}}">
                        {{item.name}}
                      </option>
                    </select>
                    <small>Select department</small>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <select class="form-control" formControlName="projId">

                      <option *ngFor="let item of proj.projList" value="{{item.id}}">
                        {{item.name}}
                      </option>
                    </select>
                    <small>Select project</small>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <select class="form-control" iformControlNamed="empId">

                      <option *ngFor="let item of emp.empList" value="{{item.id}}">
                        {{item.name}}
                      </option>
                    </select>
                    <small>Select employee</small>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <select class="form-control" formControlName="desigId">

                      <option *ngFor="let item of desig.desigList" value="{{item.id}}">
                        {{item.name}}
                      </option>
                    </select>
                    <small>Select designation</small>
                  </div>
                </div>


              </div>

              <button type="submit" id="submit" class="mb-2 btn btn-white mr-1" [disabled]="!rForm.valid">{{
                app.button
                }}</button>
              <button type="reset" class="mb-2 btn btn-white mr-1" (click)="app.reset()">Reset</button>
              <div class="pull-right">
                  <button class="mb-2 btn btn-primary mr-1" type="button" routerLink="/management/new-project">Create
                    Project</button>
                  <button class="mb-2 btn btn-primary mr-1" type="button"  routerLink="/management/assign-task">Assing
                    Task</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>

    </div>
  </div>

</div>